<!-- <app-project1></app-project1> -->
<div style="text-align:center">
  <h1>
    Welcome {{name}}!
  </h1>
  <input type="text" [value]="name">
  <input type="text" [(ngModel)]="name">
  <br>
  <a [href]="url">yeee</a>
  <button (click)="try()">try it</button>
  <br>
  <a [routerLink]="['/practice1']">P1</a>
  <a [routerLink]="['/practice2']">P2</a>
  <a [routerLink]="['/practice3']">P3</a>
  <a [routerLink]="['/practice4']">P4</a>
  <a [routerLink]="['/practice5']">P5</a>
  <a [routerLink]="['/practice6']">P6</a>
  <a [routerLink]="['/practice6-1']">P6-1</a>
  <router-outlet></router-outlet>
  <!-- <app-practice1></app-practice1>
  <app-practice2></app-practice2>
  <app-practice3></app-practice3>
  <app-practice4></app-practice4>
  <app-practice5></app-practice5>
  <app-practice6></app-practice6>
  <app-practice6-1></app-practice6-1> -->

</div>