<div style="text-align:center">
  <h1>
    Welcome {{name}}!
  </h1>
  <input type="text" [value]="name">
  <input type="text" [(ngModel)]="name">
  <br>
  <a [href]="url">yeee</a>
  <button (click)="try()">try it</button>
  <br>
  <a [routerLink]="['/practice1']">P1</a>
  <a [routerLink]="['/practice2']">P2</a>
  <a [routerLink]="['/practice3']">P3</a>
  <a [routerLink]="['/practice4']">P4</a>
  <a [routerLink]="['/practice5']">P5</a>
  <a [routerLink]="['/practice6']">P6</a>
  <a [routerLink]="['/practice6-1']">P6-1</a>
  <a [routerLink]="['/practice7']">P7</a>
  <a [routerLink]="['/dyclass']">dyclass</a>
  <a [routerLink]="['/jq1']">jq1</a>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>