<!-- <app-project1></app-project1> -->
<div style="text-align:center">
  <h1>
    Welcome {{name}}!
  </h1>
  <input type="text" [value]="name">
  <input type="text" [(ngModel)]="name">
  <br>
  <a [href]="url">yeee</a>
  <button (click)="try()">try it</button>

  <div>
    <h3>P1</h3>
    <app-practice1></app-practice1>
  </div>

  <div>
    <h3>P2</h3>
    <app-practice2></app-practice2>
  </div>

  <div>
    <h3>P3</h3>
    <app-practice3></app-practice3>
  </div>

  <div>
    <h3>P4</h3>
    <app-practice4></app-practice4>
  </div>
</div>